.dashboard {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
    url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(210,96.4%,32.7%,1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='3' stroke='hsla(212,100%,16.7%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    width:100vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header Header"
      "meetings meetings meetings create_meeting create_meeting"
      "meetings meetings meetings create_meeting create_meeting"
      "meetings meetings meetings create_meeting create_meeting"
      "meetings meetings meetings create_meeting create_meeting"
      "meetings meetings meetings create_meeting create_meeting"
      "meetings meetings meetings create_meeting create_meeting";
    
    // section,article,div {
    //    // border :1px solid black;
    // }
    .header {
        grid-area: Header;
        background-color: white;
        border-radius: 100px;
        margin-inline: 2vw;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        letter-spacing: 1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .meeting {
        grid-area: meetings;
        .progressContainer {
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__container {
            width:100%;
            height:100%;
            padding:2.1em;
            display: grid;
            grid-gap: 1em;
            grid-template-columns:1fr;
        }
    }
    .new_meeting {
        grid-area: create_meeting;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &__container {
            margin-top: 2.2em;
            background-color: white;
            max-height: 500px;
            width: 80%;
            height:80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:1em;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
            h1 {
                text-align:center;
                font-size:2em;
                margin-bottom: 0.2em;
            }
            .input_new_meeting {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width:100%;
                    .input_ele {
                        width: 90%;
                        margin-block: 5px;
                        &--date {
                            margin-top: 30px;
                        }
                    }
            }
            &__submit {
                width:90%;
                background-color:#3F51B5;
                color:white;
                text-align: center;
                font-size: 1.2em;
                padding:1em;
                border-radius: 8px;
                font-weight: 600;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
                margin-top: 2em;
           }
        }
    }
}


  